:root {
  --max-width: 1016px;
  --shade0: white;
  --shade10: black;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: var(--shade10);
  color: var(--shade0);
  font-size: 16px;
  line-height: 1.5;
}

main {
  --gap: 1rem;
  display: grid;
  grid-auto-rows: auto;
  gap: var(--gap);
  margin-inline: auto;
  width: 100%;
  max-width: 1016px;
}
